
body {
    transition: background-color 0.3s;
    background-color: white;
  }

.ei {
text-align: center;
font-size: 100px;

    position: relative; 
    bottom: 0; 
    left: 0; 
    z-index: 10;

}

*{
    margin: 0;
    padding: 0;
}


nav {
    background-color: #dafcc5;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

.caja { 
    position:absolute;
    font-family: sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    color: black; 
    background: #dafcc5;
    bottom: 0; 
    left: 0; 
    z-index: 10;
    height: 20%;
    width: 100%;
}

.igm {
    position:fixed;
    width: 30%;
    margin: 6%;
    padding: 15%;
    min-height: 15px;
    width: 20vw;
    height: 20vh;
    font-size: 100vh;
   left:center;
   right: 59%;
}

.uy {
    text-align: center;
font-size: 100px;

    position: relative; 
    bottom: 0; 
    left: 0; 
    z-index: 10;

}
.caja_{
    align-items:center;
    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    color: black; 
    background: #ffffff;
    bottom: 0; 
    left: 0; 
    z-index: 10;
    height: 80%;
    width: 40%;
}
.v44{
    text-align: center;
    font-size: 50px;
    
        position: relative; 
        bottom: 0; 
        left: 0; 
        z-index: 10;
}

.v442{
     
     text-align: center;
     font-size: 60px;
     position: relative; 
     bottom: 0; 
     left: 0; 
     z-index: 10;


}
.caja_3{
    align-items:center;
    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    color: black; 
    background: #ffffff;
    bottom: 0; 
    left: 0; 
    z-index: 10;
    height: 80%;
    width: 40%;
    display: grid;
 
}
.eeh{
    position: absolute; 
    bottom: 30%; 
    left: 50; 
    z-index: 9;
    width: 30%;
    margin: 6%;
    padding: 15%;
    min-height: 15px;
    width: 20vw;
    height: 20vh;
    font-size: 100vh;
   left:center;
   right: 18%;
}

.caja_2{
    width: 30%;
    left: 30%;
    font-family: sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    color: black; 
    background: #dafcc5;
    bottom: 10%; 
    left: 10%; 
    z-index: 10%;
    position:relative;
     
}
    
.caja5{
   
        width: 350px;
        height: 150px;
        margin: 10px;
        padding: 25px;
        
}

.caja6{
    
        width: 350px;
        height: 150px;
        margin: 10px;
        padding: 25px;
    
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(248, 248, 248, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.2);
    width: 300px; 

}

.boton_i {
    border: none;
    background: #98f984;
    color: #000000;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 10px;
    width: 200px;
    cursor: pointer;
    margin-left: 86px;
}

.boton_i:hover {
    background: #366d1a;
}



.mb-3 {
    margin-bottom: 15px;
}